html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    background-color: aquamarine;
}
.wrapper{
    margin: 0 auto;
    width: 730px;
    color:blue;
}
.title{
    text-align: center;
    font-size: 5rem;
}
.textarea{
    height: 200px; 
    width: 100%;
    border-radius: 5px;
    border: 2px solid red;
}
